.main-con{
    border: black;
    background-color: rgb(161, 161, 161);
    height: 70vh;
    display: flex;
}
.left{
    width: 30%;
    border: 2px solid red;
    padding: 1%;
}
.right{
    width: 70%;
    border: 2px solid blue;
}